fastapi
uvicorn
pydantic
sqlalchemy
python-multipart
python-dotenv
fastapi[standard]
langchain 
langchain-openai
sentence_transformers 
pytesseract
pdf2image
numpy
langchain-community
faiss-cpu
poppler-utils